<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G1212</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FakeSMC</string>
	<key>CFBundleIdentifier</key>
	<string>org.netkas.FakeSMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakeSMC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.5.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI_SMC_PlatformPlugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.ACPI_SMC_PlatformPlugin</string>
			<key>IOClass</key>
			<string>ACPI_SMC_PlatformPlugin</string>
			<key>IOPlatformThermalProfile</key>
			<dict>
				<key>ConfigArray</key>
				<array>
					<dict>
						<key>model</key>
						<string>MacBookPro10,1</string>
						<key>restart-actions</key>
						<dict>
							<key>cpu-p-state</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
				<key>ControlArray</key>
				<array>
					<dict>
						<key>Desc-Key</key>
						<string>CPU_PLIMIT</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>10</integer>
						<key>location</key>
						<string>cpu plimit</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>CPU_STATE</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>13</integer>
						<key>location</key>
						<string>cpu state</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>IDLE_PLIMIT</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>15</integer>
						<key>location</key>
						<string>idle limit</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>GPU_RANGE_CONTROL_INTERNAL</string>
						<key>IOClass</key>
						<string>IOPlatformControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>16</integer>
						<key>location</key>
						<string>gpu-internal</string>
						<key>type</key>
						<string>gpu-control</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>GPU_RANGE_CONTROL_EXTERNAL</string>
						<key>IOClass</key>
						<string>IOPlatformControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>17</integer>
						<key>location</key>
						<string>gpu-external</string>
						<key>type</key>
						<string>gpu-control</string>
					</dict>
				</array>
				<key>CreationDate</key>
				<string>Thu Jun 11 16:43:38 PDT 2009</string>
				<key>CtrlLoopArray</key>
				<array>
					<dict>
						<key>Description</key>
						<string>SMC_CPU_Control_Loop</string>
						<key>IOClass</key>
						<string>ACPI_SMC_CtrlLoop</string>
						<key>MetaStateArray</key>
						<array>
							<dict>
								<key>Description</key>
								<string>Normal</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>Reduced Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User Low Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User High Power</string>
							</dict>
						</array>
						<key>PLimitClass</key>
						<array>
							<string>CPU</string>
						</array>
						<key>PLimitDict</key>
						<dict>
							<key>MacBookPro10,1</key>
							<integer>0</integer>
						</dict>
						<key>StepDataDict</key>
						<dict>
							<key>MacBookPro10,1</key>
							<string>SP10</string>
							<key>SP10</key>
							<data>
							HAoAAAAAAQIEAAACAgAA
							VQBuAHMAcABlAGMAaQBm
							AGkAZQBkDAAH/wcAAD4A
							AAAfBAAAAgCBAHAAcwB0
							AGEAdABlAHMKAAAGAwAA
							gABuAHAAcwB0AGEAdABl
							AHP/AP8A/wD/AP8A4gAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACwoAAAEKAABk
							AAAABQgAAAEAAAX/AAEA
							AAABAAAAAQYAAGUAAAAO
							CAAAAgAABf8AAQAAAAIA
							AAACBgAAZAAAAAUAAAAB
							BgAAAwAABf8AAQAAAAMA
							AAADBgAAZQAAAA4EAAAB
							AgAABAAABf8AAQAAAAQA
							AAAEBgAAZAAAAAUAAAAE
							BgAABQAABf8AAQAAAAUA
							AAAFBgAAZAAAAAUAAAAD
							BgAABgAABf8AAQAAAAYA
							AAAGBgAAZAAAAAMAAAAB
							BgAABwAABf8AAQAAAAcA
							AAAHBgAAaAoAAAgAAAX/
							AAEAAAAIAAAACAYAAGkK
							AAAJAAAF/wABAAAACQAA
							AAkGAABkAAAAAwAAAAEG
							AAAKAAAF/wABAAAACgAA
							AAoGAABnCgAACwAABf8A
							AQAAAAsAAAALBgAAZQAA
							AA4EAAACAgAADAAABf8A
							AQAAAAwAAAAMBgAAZAAA
							AAUAAAACBgAADQAABf8A
							AQAAAA0AAAANBgAAZAAA
							AAMAAAABBgAADgAABf8A
							AQAAAA4AAAAOBgAAaQoA
							AA8AAAX/AAEAAAAPAAAA
							DwYAAGQAAAADAAAAAQYA
							ABAAAAX/AAEAAAAQAAAA
							EAYAAGcKAAARAAAF/wAB
							AAAAEQAAABEGAABlAAAA
							DgQAAAMCAAASAAAF/wAB
							AAAAEgAAABIGAABkAAAA
							BQAAAAQGAAATAAAF/wAB
							AAAAEwAAABMGAABkAAAA
							AwAAAAEGAAAUAAAF/wAB
							AAAAFAAAABQGAABpCgAA
							FQAABf8AAQAAABUAAAAV
							BgAAZAAAAAMAAAABBgAA
							FgAABf8AAQAAABYAAAAW
							BgAAZwoAABcAAAX/AAEA
							AAAXAAAAFwYAAGUAAAAO
							BAAABAIAABgAAAX/AAEA
							AAAYAAAAGAYAAGQAAAAF
							AAAAAQYAABkAAAX/AAEA
							AAAZAAAAGQYAAGQAAAAD
							AAAAAQYAABoAAAX/AAEA
							AAAaAAAAGgYAAGcKAAAb
							AAAF/wABAAAAGwAAABsG
							AABlAAAADgQAAAUCAAAc
							AAAF/wABAAAAHAAAABwG
							AAAPACcJAAAdAAAF/wAC
							AgAAHQYAAAEAAAAOBAAA
							BQIAAB4AAAX/AAIAAAAB
							AAAAHgYAAAIAAAAEAQAA
							gADDALcALgA0AAsAAAAf
							AAAAHgAAAB4AAAAfAAAA
							AwIAAB8GAAABAAAADgQA
							AAUCAAAgAAAF/wAEAgAA
							IAYAAAkAAAAEAAAAyAYA
							ACEAAAX/AAQAAAABAAAA
							IQQAAIAAAAAKCgAAJQAA
							ACIAAAAlAAAAIgAAAAQA
							AAACAAAAIgYAAAcAAAAB
							AAAA9QABBQAAIwAABf8A
							BAAAAAMAAAAjBgAAAgAA
							AAQAAACgAA8FAAAkAAAA
							HQAAAB0AAAAkAAAABAAA
							AAQAAAAkBgAACAoAACAA
							AAX/AAUCAAAlBgAAAQAA
							AA4EAAAEAgAAJgAABf8A
							BgIAACYGAAACAAAABAAA
							ANAABwUAACoAAAAnAAAA
							KgAAACcAAAAGAAAAAQAA
							ACcGAAAHAAAAAQAAAPUA
							AQUAACgAAAX/AAYAAAAC
							AAAAKAYAAAIAAAAEAAAA
							oAAPBQAAKQAAAB0AAAAd
							AAAAKQAAAAYAAAADAAAA
							KQYAAAgKAAAmAAAF/wAH
							AgAAKgYAAAEAAAAOBAAA
							AwIAACsAAAX/AAgCAAAr
							BgAAAgAAAAQAAACsAA0F
							AAAvAAAALAAAAC8AAAAs
							AAAACAAAAAEAAAAsBgAA
							BwAAAAEAAAD1AAEFAAAt
							AAAF/wAIAAAAAgAAAC0G
							AAACAAAABAAAAKAADwUA
							AC4AAAAdAAAAHQAAAC4A
							AAAIAAAAAwAAAC4GAAAI
							CgAAKwAABf8ACQIAAC8G
							AAABAAAADgQAAAICAAAw
							AAAF/wAKAgAAMAYAAAIA
							AAAEAAAArAANBQAANAAA
							ADEAAAA0AAAAMQAAAAoA
							AAABAAAAMQYAAAcAAAAB
							AAAA9QABBQAAMgAABf8A
							CgAAAAIAAAAyBgAAAgAA
							AAQAAACgAA8FAAAzAAAA
							HQAAAB0AAAAzAAAACgAA
							AAMAAAAzBgAACAoAADAA
							AAX/AAsCAAA0BgAAAQAA
							AA4EAAABAgAANQAABf8A
							DAIAADUGAAACAAAABAAA
							ANAABwUAADkAAAA2AAAA
							OQAAADYAAAAMAAAAAQAA
							ADYGAAAHAAAAAQAAAPUA
							AQUAADcAAAX/AAwAAAAC
							AAAANwYAAAIAAAAEAAAA
							oAAPBQAAOAAAAB0AAAAd
							AAAAOAAAAAwAAAADAAAA
							OAYAAAgKAAA1AAAF/wAN
							AgAAOQYAAAEAAAAOCAAA
							OgAABf8ADgIAADoGAAAC
							AAAABAEAAIAAwwC3AC4A
							NAALAAAAOgAAADsAAAA6
							AAAAOwAAAA4AAAABAAAA
							OwYAAAcAAAABAAAA9QAB
							BQAAPAAABf8ADgAAAAIA
							AAA8BgAAAgAAAAQAAACg
							AA8FAAA9AAAAHQAAAB0A
							AAA9AAAADgAAAAMAAAA9
							BgAACAoAADoAAAX/
							</data>
						</dict>
						<key>ctrlloop-id</key>
						<integer>0</integer>
						<key>is-state-driven</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>ControlIDArray</key>
						<array>
							<integer>16</integer>
							<integer>17</integer>
							<integer>18</integer>
						</array>
						<key>Description</key>
						<string>SMC_GPU_Range_Control_Loop</string>
						<key>GPUControlInfoDict</key>
						<dict>
							<key>CIA8</key>
							<array>
								<integer>15</integer>
								<integer>17</integer>
								<integer>16</integer>
							</array>
							<key>MacBookPro10,1</key>
							<string>CIA8</string>
						</dict>
						<key>IOClass</key>
						<string>ACPI_SMC_GPU_CtrlLoop</string>
						<key>MetaStateArray</key>
						<array>
							<dict>
								<key>Description</key>
								<string>Normal</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>Reduced Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User Low Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User High Power</string>
							</dict>
						</array>
						<key>PLimitClass</key>
						<array>
							<string>GPU</string>
						</array>
						<key>ctrlloop-id</key>
						<integer>3</integer>
					</dict>
				</array>
			</dict>
			<key>IOProbeScore</key>
			<integer>1200</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>IOCPUNumber</key>
				<integer>0</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>MacBookPro10,1</key>
				<dict>
					<key>LogControl</key>
					<integer>0</integer>
					<key>Vendor10deDevice1050</key>
					<dict>
						<key>BoostPState</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
						<key>BoostTime</key>
						<array>
							<integer>3</integer>
							<integer>3</integer>
							<integer>3</integer>
							<integer>3</integer>
						</array>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>100</integer>
							<key>P3HistoryLength</key>
							<integer>2</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>10</integer>
							<key>TargetCount</key>
							<integer>1</integer>
							<key>Threshold_High</key>
							<array>
								<integer>57</integer>
								<integer>70</integer>
								<integer>80</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_High_v</key>
							<array>
								<integer>1</integer>
								<integer>3</integer>
								<integer>98</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>68</integer>
								<integer>75</integer>
								<integer>95</integer>
							</array>
							<key>Threshold_Low_v</key>
							<array>
								<integer>0</integer>
								<integer>2</integer>
								<integer>4</integer>
								<integer>99</integer>
							</array>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>SMC Device Emulator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.FakeSMC</string>
			<key>Configuration</key>
			<dict>
				<key>Keys</key>
				<dict>
					<key>$Num</key>
					<array>
						<string>ui8 </string>
						<data>
						AQ==
						</data>
					</array>
					<key>ACID</key>
					<array>
						<string>ch8*</string>
						<data>
						ur48RcADEEM=
						</data>
					</array>
					<key>ALI0</key>
					<array>
						<string>{ali</string>
						<data>
						BgECAA==
						</data>
					</array>
					<key>ALRV</key>
					<array>
						<string>ui16</string>
						<data>
						AAE=
						</data>
					</array>
					<key>ALV0</key>
					<array>
						<string>{alv</string>
						<data>
						AQEDtwCjABVq9A==
						</data>
					</array>
					<key>CLKH</key>
					<array>
						<string>{clh</string>
						<data>
						AABwgAABGUA=
						</data>
					</array>
					<key>CLKT</key>
					<array>
						<string>ui32</string>
						<data>
						AAByGw==
						</data>
					</array>
					<key>EPCI</key>
					<array>
						<string>flag</string>
						<data>
						AQ==
						</data>
					</array>
					<key>FNum</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>LSOF</key>
					<array>
						<string>flag</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LSSB</key>
					<array>
						<string>{lso</string>
						<data>
						AQE=
						</data>
					</array>
					<key>LsNM</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LsbV</key>
					<array>
						<string>{rev</string>
						<data>
						AQQKAAY=
						</data>
					</array>
					<key>MOST</key>
					<array>
						<string>ui16</string>
						<data>
						gAM=
						</data>
					</array>
					<key>MSDW</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>MSPS</key>
					<array>
						<string>{msp</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSSD</key>
					<array>
						<string>si8</string>
						<data>
						Aw==
						</data>
					</array>
					<key>NATJ</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>NATi</key>
					<array>
						<string>ui16</string>
						<string>0000</string>
					</array>
					<key>NTOK</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>NVPR</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>OSK0</key>
					<array>
						<string>ch8*</string>
						<data>
						b3VyaGFyZHdvcmtieXRoZXNld29y
						ZHNndWFyZGVkcGw=
						</data>
					</array>
					<key>OSK1</key>
					<array>
						<string>ch8*</string>
						<data>
						ZWFzZWRvbnRzdGVhbChjKUFwcGxl
						Q29tcHV0ZXJJbmM=
						</data>
					</array>
					<key>REV </key>
					<array>
						<string>{rev</string>
						<data>
						ATAPAAAD
						</data>
					</array>
					<key>RMde</key>
					<array>
						<string>char</string>
						<data>
						QQ==
						</data>
					</array>
					<key>RPlt</key>
					<array>
						<string>ch8*</string>
						<string>m82</string>
					</array>
				</dict>
				<key>debug</key>
				<false/>
				<key>smc-compatible</key>
				<string>smc-napa</string>
			</dict>
			<key>IOClass</key>
			<string>FakeSMC</string>
			<key>IOMatchCategory</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>3.3.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
