<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddIMEI</key>
				<true/>
				<key>AddMCHC</key>
				<true/>
				<key>AddPNLF</key>
				<true/>
				<key>DeleteUnused</key>
				<true/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<true/>
				<key>FixDarwin</key>
				<true/>
				<key>FixDisplay</key>
				<true/>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixLAN</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixSBUS</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<true/>
				<key>FixWAK</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change AZAL to HDEF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					QVpBTA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v</string>
		<key>DefaultLoader</key>
		<string>CLOVERX64.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<true/>
		<key>Timeout</key>
		<integer>-1</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>1</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x12345678</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Windows 10</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_vista</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Ubuntu Linux</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\ubuntu\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_ubuntu</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>PhoenixOS x86</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\PhoenixOS\boot\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_phoenix</string>
				</dict>
				<dict>
					<key>Arguments</key>
					<string></string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>macOS Mojave</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\System\Library\CoreServices\boot.efi</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Arguments</key>
					<string></string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Recovery HD</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\com.apple.recovery.boot\boot.efi</string>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Arch Linux</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\arch\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_arch</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Debian Linux</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\debian\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_debian</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Deepin Linux</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Deepin\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_deepin</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Elementary OS</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\elementary\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_eos</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Fedora Core</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Fedora\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_fedora</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Kali Linux</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\kali\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_kali</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Linux Mint</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\LinuxMint\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_mint</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Manjaro Linux</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Manjaro\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_manjaro</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>RedHat Enterprise</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\RedHat\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_redhat</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Xubuntu Linux</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\xubuntu\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_xubuntu</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>ZorinOS Core</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\zorin\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EFIUUIDP-XXXX-YYYY-ZZZZ-123456ABCDEF</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Image</key>
          			<string>os_zorin</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>WINNTFSX-YYYY-0000-XXXX-NONBOOTABLEX</string>
			<string>DATANTFS-XXXX-0000-YYYY-NONBOOTABLEX</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>PlayAsync</key>
		<false/>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string></string>
		<key>Theme</key>
		<string>Gothic</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<true/>
		</dict>
		<key>#PatchVBios</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<false/>
	</dict>
</dict>
</plist>
